<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Account Übersicht</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-fullheight">
                    <div class="box">
                        <div class="is-flex is-align-items-center">
                            <img src="/Icons/UserIcon.png" width="30" height="30">
                            <span class="is-size-3" style="margin-left:10px;"><%= user.Nutzername %></span>
                            <span class="tag is-light is-rounded" style="margin-left:10px;"><%= user.IsAdmin ? 'Admin' : 'User' %></span>
                        </div>
                        <h1 class="title">Kontoeinstellungen</h1>
                        <form action="/accountView" method="POST">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Vorname</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-flex">
                                        <div class="control">
                                            <input class="input" type="text" name="vorname" value="<%= user.Vorname %>" readonly>
                                        </div>
                                        <span class="icon" id="edit-vorname-icon"><img src="Icons/edit.png"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Nachname</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-flex">
                                        <div class="control">
                                            <input class="input" type="text" name="nachname" value="<%= user.Nachname %>" readonly>
                                        </div>
                                        <span class="icon" id="edit-nachname-icon"><img src="Icons/edit.png"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Passwort</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-flex">
                                        <div class="control">
                                            <input class="input" type="password" name="password" value="********" readonly>
                                        </div>
                                        <span class="icon" id="edit-password-icon"><img src="Icons/edit.png"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="password-change-form" style="display: none;">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Altes Passwort eingeben</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="oldPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Neues Passwort eingeben</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="newPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Neues Passwort bestätigen</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="confirmNewPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="title">Passwortmanagereinstellungen</h1>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Master-Passwort</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-flex">
                                        <div class="control">
                                            <input class="input" type="password" name="masterPassword" value="********" readonly>
                                        </div>
                                        <span class="icon" id="edit-master-password-icon"><img src="Icons/edit.png"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="master-password-change-form" style="display: none;">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Altes Masterpasswort eingeben</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="oldMasterPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Neues Masterpasswort eingeben</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="newMasterPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Neues Masterpasswort bestätigen</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-flex">
                                            <div class="control">
                                                <input class="input" type="password" name="confirmNewMasterPassword">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% var i = 0; %>
                            <% abteilungen.forEach(function(abteilung) { %>
                                <% if (abteilung.UserID == user.ID) { %>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label" <% if(i!=0) { %>style="display: none;"<% } %>>Abteilung</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-flex">
                                        <div class="control">
                                            <input class="input" type="text" name="department" value="<%= abteilung.Abteilungen %>" readonly>
                                        </div>
                                        <span class="icon" id="edit-department-icon"><img src="Icons/edit.png"></span>
                                    </div>
                                </div>
                            </div> 
                                    <% i++; %>
                                <% } %>
                            <% }) %>
                            </div>
                            <div id="save-button-container" style="display: none; text-align: center; margin-top: 20px;">
                                <button class="button is-primary" id="save-button">Speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function showSaveButton() {
            document.getElementById('save-button-container').style.display = 'block';
        }

        function validatePassword(password) {
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{4,}$/;
            return regex.test(password);
        }

        document.getElementById('edit-vorname-icon').addEventListener('click', function() {
            var vornameInput = document.querySelector('input[name="vorname"]');
            vornameInput.removeAttribute('readonly');
            vornameInput.focus();
            showSaveButton();
        });

        document.getElementById('edit-nachname-icon').addEventListener('click', function() {
            var nachnameInput = document.querySelector('input[name="nachname"]');
            nachnameInput.removeAttribute('readonly');
            nachnameInput.focus();
            showSaveButton();
        });

        document.getElementById('edit-password-icon').addEventListener('click', function() {
            var form = document.getElementById('password-change-form');
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
            showSaveButton();
        });

        document.getElementById('edit-master-password-icon').addEventListener('click', function() {
            var form = document.getElementById('master-password-change-form');
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
            showSaveButton();
        });

        document.getElementById('edit-department-icon').addEventListener('click', function() {
            var departmentInput = document.querySelector('input[name="department"]');
            departmentInput.removeAttribute('readonly');
            departmentInput.focus();
            showSaveButton();
        });

        document.getElementById('save-button').addEventListener('click', function(event) {
            var newPassword = document.querySelector('input[name="newPassword"]').value;
            var confirmNewPassword = document.querySelector('input[name="confirmNewPassword"]').value;
            var newMasterPassword = document.querySelector('input[name="newMasterPassword"]').value;
            var confirmNewMasterPassword = document.querySelector('input[name="confirmNewMasterPassword"]').value;

            if (newPassword && !validatePassword(newPassword)) {
                alert('Das neue Passwort muss mindestens 4 Zeichen lang sein und Groß- und Kleinbuchstaben, Ziffern und Sonderzeichen enthalten.');
                event.preventDefault();
                return;
            }

            if (newPassword !== confirmNewPassword) {
                alert('Die neuen Passwörter stimmen nicht überein.');
                event.preventDefault();
                return;
            }

            if (newMasterPassword && !validatePassword(newMasterPassword)) {
                alert('Das neue Masterpasswort muss mindestens 4 Zeichen lang sein und Groß- und Kleinbuchstaben, Ziffern und Sonderzeichen enthalten.');
                event.preventDefault();
                return;
            }

            if (newMasterPassword !== confirmNewMasterPassword) {
                alert('Die neuen Masterpasswörter stimmen nicht überein.');
                event.preventDefault();
                return;
            }

            // Hier können Sie den Code hinzufügen, um die Daten zu speichern
            alert('Daten erfolgreich gespeichert!');
        });
    </script>
</body>
</html>