<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title><%= title %></title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title"><img src="Icons/Closed.png" width="25" height="25"><%= title %></h1>
            <form id="passwordForm" action="<%= targetLink %>" method="POST" onsubmit="return validatePassword()">
                <% password.forEach(function(e, index) { %>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Webseite</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="webSite" value="<%= e.webSite %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="email" name="email" value="<%= e.email %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Nutzername</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="username" value="<%= e.username %>" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Leeres Label für vertikale Ausrichtung -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" id="newPassword" type="password" name="newPassword" placeholder="Neues Passwort eingeben" required>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="password" name="userID" value="<%= userID %>" style="display: none;" readonly>
                <div id="passwordError" class="error"></div>
                <% }) %>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Speichern</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>