<%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/navbar.ejs') %>
    <section class="section">
        <div class="container">
            <h1 class="title"><img src="/Icons/group.png" width="25" height="25"> Abteilung bearbeiten: <%= department.deparmentList %></h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Nutzername</th>
                        <th>Voller Name</th>
                        <th>
                            <a href=""><img src="/Icons/addUserIcon.png" width="25" height="25"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% department.users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.Nutzername%></td>
                        <td><%= user.Vorname + " " + user.Nachname%></td>
                        <td>
                            <a href="javascript:void(0);" onclick="removeUser('<%= department.deparmentList %>', '<%= user.username %>')">
                                <img src="/Icons/removeUser.png" width="25" height="25">
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <a href="/deparmentList" class="button is-link">Zurück zur Abteilungsliste</a>
        </div>
    </section>
    <script>
        function removeUser(department, username) {
            fetch(`/removeUser/${department}/${username}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Fehler beim Entfernen des Benutzers');
                }
            });
        }
    </script>
</body>
</html>